.image-list {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1200px;
}

.image-list--item {
  padding: 20px;
  margin: 10px;
  max-height: 240px;
  max-width: ;
  background-color: #73af5b;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
